<link href="new/css/styles.css" rel="stylesheet"></link>
<link href="issues/css/styles.css" rel="stylesheet"></link>
<div ng-controller="ActiveController" ng-show="ready">
<h1>{{'active.batchExp'|i18n}}</h1>
	<div class="page-header" style="border: none; margin-bottom: 10px">
		<div class="row" style="margin-bottom: 0px">
			<h2 style="margin-left: 18px">{{'active.header'|i18n}}</h2>
		</div>
	</div>	
	<div class="container">
		<p>{{'active.intro'|i18n}}</p>
		<div style="margin-top:30px">
		<div ng-show="activePlans.length==0" align="center"
				style="width: 30%; margin-left: 35%;"
				class="animate-show alert alert-g">
				{{'active.noplans'|i18n}}</div>
			<div class="accordion animate-show" id="accordion1">
				<div ng-repeat="plan in activePlans" class="accordion-group">
					<div tooltip-popup-delay="500" tooltip="{{plan.stateInfo.state}}"
						tooltip-placement="left" class="accordion-heading"
						style="overflow: hidden">
						<a style="float: left" class="accordion-toggle"
							data-toggle="collapse" data-parent="#accordion1"
							ng-href="#collapse1{{$index}}" target="_self"> <strong>-</strong>{{'active.description'|i18n}} {{plan.description}} <span class="icon-arrow-right icon-white"></span>
								<font ng-switch="plan.stateInfo.state">
								    <font ng-switch-when="SUBMITTED">{{'active.submitted'|i18n}}</font>
								    <font ng-switch-when="DELAYED" >{{'active.delayed'|i18n}}</font>
								    <font ng-switch-when="CONFIRMED">{{'active.confirmed'|i18n}}</font>
								</font>
					 	</a>
					</div>
					
					
					 
					<div id="collapse1{{$index}}" class="accordion-body collapse in">
						<div class="accordion-inner">
						<div style="color:grey;">
						<div class="row">
							<div class="span6">
								<p>
									<strong>{{'active.state'|i18n}}</strong> 
								 <font ng-switch="plan.stateInfo.state">
								    <font ng-switch-when="SUBMITTED">{{'active.submitted'|i18n}}</font>
								    <font ng-switch-when="DELAYED" >{{'active.delayed'|i18n}}</font>
								    <font ng-switch-when="CONFIRMED">{{'active.confirmed'|i18n}}</font>
								 </font>
								 <br/>
									{{plan.stateInfo.stateDetail}}
								</p>
							</div>
							<div class="span6">
								<p>
									<strong>{{'active.comment'|i18n}}</strong> {{plan.comment}}
								</p>
							</div>
							<div class="span6">
								<p>
									<strong>{{'active.planId'|i18n}}</strong> {{plan.uuid}}
								</p>
							</div>
																				
						</div>
						</div>
						<div ng-show="plan.observations.length > 0" style="float:left;margin-left: 20px;">
						<div style="width:100%;color:#CCCCCC;font-size:14px;margin-bottom:10px;border-bottom: 1px dashed rgba(125, 125, 125, 0.94);">{{'active.obsList'|i18n}}</div>
						<div ng-repeat="observation in plan.observations">
							
							<div>
									<div class="span3">
										<p>
											<strong>{{'active.object'|i18n}}</strong> {{observation.target}}<br/>	
										</p>
									</div>
									
									<div class="span2">
										<p>
											<strong>{{'active.filter'|i18n}}</strong> {{observation.filter}}<br/>
										</p>
									</div>
									<div class="span2">
										<p>
											<strong>{{'active.telescope'|i18n}}</strong> {{observation.telescope}}
										</p>
									</div>
									<div class="span2">
										<p>
											<strong>{{'active.state'|i18n}}</strong> 
												<font ng-switch="observation.state">
												    <font ng-switch-when="SUBMITTED">{{'active.submitted'|i18n}}</font>
												    <font ng-switch-when="DELAYED" >{{'active.delayed'|i18n}}</font>
												    <font ng-switch-when="REJECTED" >{{'active.rejected'|i18n}}</font>
												    <font ng-switch-when="CONFIRMED">{{'active.confirmed'|i18n}}</font>
												    <font ng-switch-when="DONE_COMPLETE">{{'active.done_complete'|i18n}}</font>
												    <font ng-switch-when="ERROR">{{'active.error'|i18n}}</font>
												    <font ng-switch-when="ABORTED">{{'active.aborted'|i18n}}</font>
												    <font ng-switch-when="IN PROCESS">{{'active.inprocess'|i18n}}</font>
												    <font ng-switch-when="DONE_PARTIAL">{{'active.done_partial'|i18n}}</font>
												 </font>	
											
										</p>
									</div>
							</div>
						</div>
						</div>	
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>